/* Fonte do site */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cores do Site */

:root{
  --bg-color: #161a1d;
  --text-color: #b78a1d;
  --details: #ede7d9;
  --branco: #fff;
}

html, body {
    height: 100%;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

img, video {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Formatação do Header */

header{
  background-color: var(--text-color);
  text-align: center;
  position: fixed;
  top:0;
  left:0;
  width:100%;
}

nav ul{
  display: inline-flex;
}

nav li{
  display: flex;
  gap:30px;
}

nav a{
  color: var(--branco);
  font-weight: 700;
  padding: 1.5rem;
  transition: 2s;
}

nav a:hover{
  background-color: var(--bg-color);
  color: var(--text-color);
  padding:1.5rem;
}

/* Formatação do Main */
 .topo{
    background: var(--bg-color);
    width:100%;
    min-height: auto;
    padding:7rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topo img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    outline: 4px solid var(--text-color);
    animation: imagem 2s;
}

.topo h1{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 300;
}

.topo span{
    color: var(--branco);
    font-weight: 600;
}

.topo h2{
    font-size: 1.5rem;
    width:50rem;
    margin-top: 10px;
    color: var(--branco);
    font-weight: 200;
}

.topo .btn{
    display: block;
    max-width: 300px;
    padding: 5px;
    background-color: var(--text-color);
    margin: 20px auto;
    border-radius: 100px;
    font-weight: 700;
    color: var(--details);
    border: 1px solid var(--details);
}

.topo .btn:hover{
    background-color: transparent;
    box-shadow: 0 0 5px var(--branco), inset 0 0 5px var(--branco);
    border: 1px solid var(--details);
    transition: all 0.5s ease;
    color: var(--text-color);
}

.topo i{
    color:var(--details);
    font-size: 2rem;
}

/* Formatação do section web*/

.web, .office, .design, .formulario{
    background: var(--bg-color);
    color: #fff;
    padding: 70px;
    width:100%;
    margin: 0 auto;
}

.web h2, .office h2, .design h2, .formulario h2{
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom:3rem;
}

 .container{
    display: flex;
    justify-content: center;
}

 .container .bloco{
    border: solid 2px var(--text-color);
    margin: 40px 20px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: #000;
}

.container .bloco h3{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.container iframe{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

/* Formatação Formulario */

form{
  display: flex;
  flex-direction: column;
  gap:10px;
  width: 50%;
  margin: 0 auto;
}

input{
  padding: 15px;
  border-radius: 8px;
  border:none;
  outline-color: var(--text-color);
}

button{
  background-color: var(--text-color);
  padding: 15px;
  color: var(--details);
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 8px;
}

textarea{
  padding: 15px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
}


/* Formatação rodape */

.rodape{
    text-align: center;
    color: var(--branco);
    background-color: var(--text-color);
    padding: 10px;
}

.rodape img{
    width: 50px;
    filter: drop-shadow(1px 1px 5px #333);
}

.rodape p{
  font-size: 14px;
}


/* ANIMAÇÕES */

@keyframes imagem {
  from {
    margin-top: 30%;
    transform: scale(0.1);
  }

  to {
    margin-top: 0%;
  }
}

/* Media Queries */

/* Dispositivos (smartphones em modo retrato) */
@media (max-width: 992px) {

   .topo{
        padding-top: 100px;
    }

    .topo h1{
      font-size: 2rem;
    }


    .container{
    padding:20px;
    }

    .bloco{
      width:400px;
      padding:0;
    }

    .bloco iframe{
      width:100%;
      height:200px;
    }

}


/* Dispositivos médios (tablets)*/
@media (max-width:768px){

  nav{
  display:flex;
  justify-content: flex-start;
  }

    nav ul{
      flex-direction: column;
    }

 .topo{
      width:100%;
      margin: 0 auto;
      margin-top:200px;
    }

 .topo img{
      width:150px;
      height:150px;
    }

 .topo h2{
      font-size: 1.2rem;
      width:600px;
    }

    .web h2, .office h2, .design h2{
      padding-bottom:50px;
    }

    .container{
      flex-direction: column;
      padding:0;
      margin:0;
    }

    .container .bloco{
      width:100%;
      height:300px;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    .container .bloco h2{
      margin-bottom: 50px;
    }

    .container .bloco iframe{
      height:220px;
    }

    .formulario{
      width:100%;
      margin: 0 auto;
      padding:10px;
    }

}

/* Dispositivos  (Celulares)*/
@media (max-width: 576px) {
  nav{
  display:flex;
  justify-content: flex-start;
  }

  .container{
    display: flex;
    justify-content: center;
  }

  form{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
    margin: 0 auto;
  }


}
